body
{
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.jumbotron {
    background: none;
    color: black;
}

table, th, td 
{
  border: 1px solid black;
  border-collapse: collapse;
}

th, td 
{
  padding: 5px;
  text-align: left;    
}